@(text: Option[String],
    category: Option[String],
    debug: Option[String])

<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <title>Classifier</title>
</head>

<body>
  <article class="wrapper doc">
    <div class="tweet">
      <form action="/classifier" method="get">
        <label class="note">
          <textarea name="inputText">@text</textarea>
        </label>
        <button type="submit">Классифицировать</button>
      </form>
    </div>

    @if(category.nonEmpty) {
      <div class="tweet">
        <p>Результат: @category</p>
        <p>@debug</p>
      </div>
    }
  </article>
</body>
