@(postsCategory: String, feed: Vector[String])

<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <title>Feed</title>
</head>

<body>
  <section id="top">
    <div class="wrapper">
      <h1>@postsCategory</h1>
    </div>
  </section>

  <div id="content" class="wrapper doc">
    <article>
    @for(post <- feed) {
      <div class="tweet">
        <div class="note">
          <p>@post</p>
        </div>
        <div>
          <img height="42px" src="@routes.Assets.versioned("images/positive.jpg")" alt="">
        </div>
      </div>
    }
    </article>
  </div>
</body>
